<div class="row" ng-cloak ng-init="init()">

  <div id="task-lists">
    <form ng-submit="createList()">
      <input type="text" id="new-task-list" ng-model="new_list.name" placeholder="New Todo List..."/>
      <input type="submit" class="btn btn-primary" />
    </form>
    <ul>
      <li ng-repeat="task_list in task_lists">
        <a ng-class="{active: task_list.id==currentList().id}" ng-href="/task_lists/{{task_list.id}}">{{task_list.name}}</a>
      </li>
    </ul>
  </div>

  <div id="todos_list">
    <div ng-show="showTaskForm()">
      <form ng-submit="createTask()" >
        <input type="text" id="new-task" ng-model="new_task.note" placeholder="New {{currentList().name}} Todo item"/>
        <input type="submit" class="btn btn-primary" />
      </form>

      <div class="row" id="task-filters">
        <div class='filter-actions'>
          <a href="#"
             ng-click="setActiveFilter('all')"
             ng-class="{active: tasks_active_filter=='all'}">
            ({{all_tasks.length}}) all
          </a>
          &nbsp;|&nbsp;
          <a href="#"
             ng-click="setActiveFilter('active')"
             ng-class="{active: tasks_active_filter=='active'}">
            ({{activeTasks().length}}) active
          </a>
          &nbsp;|&nbsp;
          <a href="#"
             ng-click="setActiveFilter('completed')"
             ng-class="{active: tasks_active_filter=='completed'}">
            ({{completedTasks().length}}) completed
          </a>
        </div>

        <div class='sorting-actions'>
          sort by:
          <a href="#" ng-click="tasks_order_by='name'; reverse=!reverse">note</a>
          &nbsp;|&nbsp;
          <a href="#" ng-click="tasks_order_by='due_date'; reverse=!reverse">due date</a>
        </div>
      </div>

      <ul class="tasks-list">
        <li ng-repeat="task in filteredTasks() | orderBy:tasks_order_by:reverse ">
          <input type="checkbox"
                 class="complete_note"
                 id="complete_task_{{task.id}}"
                 value="{{task.completed_flag}}"
                 ng-model="task.completed_flag"
                 ng-change="updateTask(task)" />

          <div class="note_content">
            <label for="complete_task_{{task.id}}">{{task.note}}</label>
            <span class='due-date' ng-show='task.due_date'>
              <b>Due date:</b> {{task.due_date | date:'fullDate'}}
            </span>
          </div>

          <div class='action_buttons'>
            <span class="btn btn-danger" ng-click="deleteTask(task)">
              <i class="glyphicon glyphicon-remove"></i>
            </span>
            <span class="btn btn-info"
                  ng-click="openDatapicker(task, $event)"
                  datepicker-popup
                  ng-model="task.due_date"
                  is-open="task.show_datapicker"
                  ng-change="updateTask(task)">
              <i class="glyphicon glyphicon-time"></i>
            </span>
          </div>
        </li>
      </ul>
    </div>

    <span ng-hide="showTaskForm()" class="no-records">Select task list to start create and browse tasks</span>
  </div>
</div>