#content {
  padding: 0;

  input {
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 10px 20px 10px 5px;
  }

  #task-lists {
    float: left;
    width: 260px;
    padding: 0 5px;

    form {
      input#new-task-list {
        width: 180px;
        height: 34px;
        font-size: 13px;
      }

      .btn {
        margin-left: -5px;
      }
    }

    a {
      text-decoration: none;
      display: block;
      padding: 10px;
      margin-bottom: 4px;
      font-size: 15px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      &:hover {
        background: #55C3FA;
        color: #fff;
      }

      &.active {
        background: #08C;
        color: #fff;
      }
    }
  }

  #todos_list {
    float: left;
    width: 500px;
    padding: 0 5px;

    form {
      margin: 0;

      input#new-task {
        width: 440px;
        height: 34px;
        font-size: 13px;
      }

      .btn {
        margin-left: -5px;
      }
    }

    #task-filters {
      margin-top: 5px;
      padding: 0 15px;

      a.active {
        cursor: default;
        color: #CAC9C9;
        text-decoration: none;
      }

      .filter-actions {
        float:left;
      }

      .sorting-actions {
        float:right;
      }
    }

    #search-task {
      input {
        float: right;
        margin: 10px 15px 0 0;
      }
    }

    ul.tasks-list {
      margin-left: 0;

      > li {
        display: inline-block;
        width: 490px;
        padding: 5px 10px;
        border: solid #BDC4CA 1px;

        input.complete_note {
          float: left;
        }

        .note_content {
          float: left;
          margin-left: 5px;
          width: 425px;

          .due-date {
            display: inline-block;
            width: 100%;
            font-size: 11px;
          }
        }

        .action_buttons {
          float: right;
          width: 20px;

          > .btn {
            margin-top: 2px;
            padding: 2px 4px 0 4px;
          }
        }
      }

      li.no-tasks {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        border: #777 dotted 1px;
        color: #777;
        padding: 20px 0;
      }

      // Styling for datepicker
      .dropdown-menu {
        font-size: 10px !important;

        .btn, .h6 {
          font-size: 10px;
          padding: 3px;
        }
      }
    }

    span.no-records {
      display: inline-block;
      width: 100%;
      padding: 20px 0;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      border: #777 dotted 1px;
      color: #777;
    }
  }
}